@import 'tailwindcss';
@plugin "@tailwindcss/typography";


@utility container {
  margin: 0 auto;
  padding: 0 0.5rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --font-display: 'Inter', 'sans-serif';
  --font-sans: 'Inter', 'sans-serif';

  --default-transition-duration: 250ms;
}


@import './styles/base/typography.css';
@import './styles/variables/colors.css';
@import './styles/variables/spaces.css';
@import './styles/components/button.css';


img{
  width: 100%;
  /* height: 100%; */
}

/* convex card styles */
.outer{
  width: 100%;
  height: 75vh;
  --w: 150px;
  --h: 150px;
  --outline: 8px;
  --radius: 12px;
  --offset: calc(-1 * var(--outline)); 
  --size: calc(var(--radius) + var(--outline));
  contain: layout;
  background: 
  calc(100% - var(--offset)) calc(100% - var(--h)) radial-gradient(circle at left top, transparent var(--radius), white var(--radius)),
  calc(100% - var(--w)) calc( 100% - var(--offset)) radial-gradient(circle at left top, transparent var(--radius), white var(--radius)),
  linear-gradient(to top right, black 20%, black);
  background-repeat: no-repeat;
  background-size: var(--size) var(--size), var(--size) var(--size), cover;
  border-radius: var(--radius);
  align-content: end;
  .inner {
      outline: var(--outline) solid white;
      border-radius: var(--radius);
      width: var(--w);
      height: var(--h);
      text-align: center;
      line-height: var(--h);
      margin-left: auto;
      button {
          all: unset;
          cursor: pointer;
          width: 100%;
          font-size: 1.2em;
          color: transparent;
          text-shadow: 0 0 0 black;
          &:hover {
              background-color: rgb(196, 255, 43);
          }
      }
  }

  section {
      width: 80%;
      position: absolute;
      top: 10px;
      left: 36px;
      h1 { font-size: 1.3em; font-weight: 600; }
      h2 { font-size: 1.2em; font-weight: 600; }
      a { color: rgb(29, 139, 236); }
  }
  

}
